@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    position: relative;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: linear-gradient(1000deg, Red, OrangeRed, Red 150%);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar .logo a span{
    color: OrangeRed;
}
.navbar.sticky .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: OrangeRed;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: linear-gradient(1000deg, Red, OrangeRed);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
/* home section styling */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: OrangeRed;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: OrangeRed;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid OrangeRed;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: OrangeRed;
    background: none;
}

/*all similar content styling code*/
section{
    padding: 100px 0;
}
.about, .services, .skills, .teams, .contact, .library, .projects{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.library .library-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: OrangeRed;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after{
    content: "Quem sou eu"
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: OrangeRed;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: linear-gradient(1000deg, Red, OrangeRed);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid OrangeRed;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: OrangeRed;
    background: none;
}

/* services section styling */
.services, .teams, .projects{
    color: #fff;
    background: #111;
}
.services .title::before,
.teams .title::before,
.projects .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after,
.projects .title::after{
    background: #111;
    content: "o que ofereço";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: linear-gradient(1000deg, OrangeRed, Red);
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: OrangeRed;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */
.skills .title::after{
    content: "O que eu sei";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify
}
.skills .skills-content .left a{
    display: inline-block;
    background: linear-gradient(1000deg, Red, OrangeRed);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid OrangeRed;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: OrangeRed;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(1000deg, Red, OrangeRed);
}
.skills .skills-content .right .html::before{
    width: 60%;
}
.skills .skills-content .right .css::before{
    width: 40%;
}
.skills .skills-content .right .js::before{
    width: 20%;
}
.skills .skills-content .right .php::before{
    width: 30%;
}
.skills .skills-content .right .python::before{
    width: 40%;
}
.skills .skills-content .right .java::before{
    width: 40%;
}
.skills .skills-content .right .c::before{
    width: 30%;
}
.skills .skills-content .right .mysql::before{
    width: 70%;
}

/* teams section styling */
.teams .title::after{
    content: "quem está comigo";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: linear-gradient(1000deg, Red, OrangeRed);
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid OrangeRed;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid OrangeRed!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: OrangeRed!important;
}

/* library section styling */
.library .title::after{
    content: "meus livros";
}
.library .container{
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}
.library .container .box3d{
    display: flex;
    position: relative;
    width: 270px;
    height: 400px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(1000deg, Red, OrangeRed)!important;
    border-radius: 6px;
    transform-style: preserve-3d;
}
.library .container .box3d .book{
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 430px;
    object-fit: cover;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.library .container .box3d:hover .book{
    transform: translate3d(-50%, -50%, 50px);
}

/* projects section styling */
.projects .title::after{
    content: "meus projetos";
}
.projects .slider .img-slider{
    background: #222;
    border-radius: 6px;
    padding: 35px;
    padding-bottom: 20px;
    text-align: center;
    transition: all 0.3s ease;
}
.projects .slider .img-slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .slider .img-slider:hover img{
    transform: scale(1.02);
}
.projects .slider .img-slider h2{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 22px 0 7px 0;
}
.projects .slider .img-slider img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    transition: all 0.3s ease;
}
.projects .main-div{
    position: relative;
    height: 45px;
    width: 220px;
    margin: 10px auto 10px auto;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.35);
    color: OrangeRed;
}
.projects .main-div::before{
    content: "visualizar";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-size: 27px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
}
.projects .main-div:hover::before{
    left: -250px;
}
.projects .main-div .social-media{
    position: absolute;
    top: 0;
    right: -250px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.4s ease-in-out;
}
.projects .main-div:hover .social-media{
    right: 0;
}
.projects .social-media i{
    font-size: 22px;
    color: OrangeRed;
    transition: all 0.4s linear;
}
.projects .social-media i:hover{
    transform: scale(1.1);
}

/* contact section styling */
.contact .title::after{
    content: "entre em contato";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: OrangeRed;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
    position: relative;
}
.contact .right form .button input{
    width: 100%;
    height: 100%;
    border: 2px solid OrangeRed;
    background: linear-gradient(1000deg, Red, OrangeRed);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button input:hover{
    color: OrangeRed;
    background: none;
}
#status{
    font-family: 'Poppins', sans-serif;
    width: 300px;
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
}
#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error{
    background-color: OrangeRed;
    color: #fff;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* scroll section styling */
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, Red, OrangeRed);
    animation: animate 5s linear infinite;
}
#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, Red, OrangeRed);
    filter: blur(7px);
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, Red, OrangeRed);
    filter: blur(7px);
}
@keyframes animate{
    0%, 100%{
        filter: blur(0deg)
    }
    50%{
        filter: blur(360deg);
    }
}

/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: OrangeRed;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


.contact .title::before{
    width: 230px;
}
.teams .title::before{
    width: 250px;
}


/*responsive media query start*/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: -20px;
    }
}

@media (max-width: 1104px){
    .home .max-width{
        margin: auto 0 auto -60px;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .home .max-width{
        margin: auto 0 auto -40px;
    }
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 1120px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d"
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .max-width{
        margin: auto  auto -70px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .teams .title::after{
        font-size: 18px;
    }
    .projects .title::after{
        font-size: 16px;
    }
}

@media (max-width: 375px){
    .max-width{
        padding: 0 20px;
    }
    .teams .title::after{
        font-size: 15px;
    }
    .contact .title::after{
        font-size: 16px;
    }
}

@media (max-width: 332px){
    .max-width{
        padding: 0 18px;
    }
    .navbar .menu{
        margin-bottom: auto;
    }
    .navbar .menu li{
        margin: -25px;
    }
    .teams .title::after{
        font-size: 12px;
    }
    .contact .title::after{
        font-size: 13px;
    }
}
@media (max-width: 320px){
    .contact .row .sub-title{
        font-size: 14px;
    }
    .about .about-content .left img{
        width: 300px;
    }
}